In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

## Series:通过一维数组创建

In [4]:
arr=np.array([1.1,2,3,4])
series1=Series(arr)
series1

0    1.1
1    2.0
2    3.0
3    4.0
dtype: float64

In [5]:
series1.values

array([ 1.1,  2. ,  3. ,  4. ])

In [6]:
series1.index   #[0,len(arr)-1,1]

RangeIndex(start=0, stop=4, step=1)

In [8]:
arr1=Series([10,20,30,40])
arr1

0    10
1    20
2    30
3    40
dtype: int64

In [9]:
arr1.index=[u'一',u'二',u'三',u'四']
arr1

一    10
二    20
三    30
四    40
dtype: int64

In [10]:
arr2=Series([99,98,0,100],index=[u'一',u'二',u'三',u'四'])
arr2

一     99
二     98
三      0
四    100
dtype: int64

In [11]:
##通过一维数组创建时，可以在创建的同时自定义索引值，也可以之后通过赋值的形式去修改

In [12]:
##通过字典创建

In [18]:
dict={'a':1,'b':2,'c':3,'d':4}
ser=Series(dict)
ser                           ##字典的键对应索引，值对应数据

a    2
c    3
d    4
dtype: int64

In [17]:
ser.index

Index(['a', 'c', 'd'], dtype='object')

In [15]:
ser.values

array([1, 2, 3, 4], dtype=int64)

In [33]:
arr2=Series([99,98,0,100],index=[u'一',u'一',u'三',u'四'])
arr2
arr2[0]

IndexError: 0

In [23]:
arr2[u'一']

一    99
一    98
dtype: int64

In [30]:
a1=Series(arr)
a1

0    1.1
1    2.0
2    3.0
3    4.0
dtype: float64

In [31]:
a1.index=['a','a','a','a']
a1

a    1.1
a    2.0
a    3.0
a    4.0
dtype: float64

In [29]:
a1[0]

IndexError: 0

In [36]:
series=Series({'a':100,'b':200,'c':300})
series

a    100
b    200
c    300
dtype: int64

In [38]:
series[series>100]

b    200
c    300
dtype: int64

In [39]:
series/100   ##series中元素级别的运算结果，包含有索引值，并且键值关系不变

a    1.0
b    2.0
c    3.0
dtype: float64

In [40]:
series=Series([-1,-2,-3,-4])
series

0   -1
1   -2
2   -3
3   -4
dtype: int64

In [41]:
np.abs(series)   ##numpy中的通用函数在Series当中也是支持的

0    1
1    2
2    3
3    4
dtype: int64

In [49]:
scores=Series({'a':88,'b':99,'c':80,'d':78})
scores

a    88
b    99
c    80
d    78
dtype: int64

In [50]:
new=['a','b','ee','c','d']

In [51]:
scores1=Series(scores,index=new)
scores1

a     88.0
b     99.0
ee     NaN
c     80.0
d     78.0
dtype: float64

In [52]:
pd.isnull(scores1)   #值是NaN，返回True

a     False
b     False
ee     True
c     False
d     False
dtype: bool

In [53]:
pd.notnull(scores1)   #值不是NaN，返回True

a      True
b      True
ee    False
c      True
d      True
dtype: bool

In [54]:
scores1[pd.isnull(scores1)]

ee   NaN
dtype: float64

In [55]:
scores1[pd.notnull(scores1)]

a    88.0
b    99.0
c    80.0
d    78.0
dtype: float64

In [57]:
s1=Series([1,2,3],index=['a','b','c'])

In [58]:
s2=Series([10,20,30,40],index=['b','a','c','d'])

In [59]:
s1+s2

a    21.0
b    12.0
c    33.0
d     NaN
dtype: float64

In [60]:
s1*s2

a    20.0
b    20.0
c    90.0
d     NaN
dtype: float64

## name属性

In [61]:
s1=Series([1,2,3],index=['a','b','c'])

In [62]:
s1

a    1
b    2
c    3
dtype: int64

In [70]:
s1.name=u'价格'    #数据名称标签

In [71]:
s1.index.name=u'产品'   #索引名称标签

In [72]:
s1

产品
a    1
b    2
c    3
Name: 价格, dtype: int64

## DataFrame:通过二维数组创建

In [74]:
df=DataFrame([['a','b','c','d'],[1,2,3,4]])
df

   0  1  2  3
0  a  b  c  d
1  1  2  3  4

In [75]:
arr=np.array([
        [1,2,3,4],
        [2,3,4,5],
        [3,4,5,6]
    ])

In [76]:
arr

array([[1, 2, 3, 4],
       [2, 3, 4, 5],
       [3, 4, 5, 6]])

In [77]:
df=DataFrame(arr,index=['one','two','three'],columns=['a','b','c','d'])

In [78]:
df

       a  b  c  d
one    1  2  3  4
two    2  3  4  5
three  3  4  5  6

In [79]:
df.index

Index(['one', 'two', 'three'], dtype='object')

In [80]:
df.columns

Index(['a', 'b', 'c', 'd'], dtype='object')

In [81]:
df.values

array([[1, 2, 3, 4],
       [2, 3, 4, 5],
       [3, 4, 5, 6]])

In [82]:
dict1={'apart':['101','102','101'],
      'profits':[1000,2000,3000],
       'year':[2001,2010,2010],
       'month':8
      }

In [83]:
df=DataFrame(dict1)

In [84]:
df

  apart  month  profits  year
0   101      8     1000  2001
1   102      8     2000  2010
2   101      8     3000  2010

In [85]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [86]:
df.columns

Index(['apart', 'month', 'profits', 'year'], dtype='object')

In [87]:
df.values

array([['101', 8, 1000, 2001],
       ['102', 8, 2000, 2010],
       ['101', 8, 3000, 2010]], dtype=object)

In [88]:
df.index=['one','two','three']
df

      apart  month  profits  year
one     101      8     1000  2001
two     102      8     2000  2010
three   101      8     3000  2010

In [89]:
df=pd.read_csv("data1.csv")
df

    name  age  source
0  gerry   18    98.5
1    tom   21    78.2
2   lili   24    98.5
3   john   20    89.2

In [90]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=False, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, skip_footer=0, doublequote=True, delim_whitespace=False, as_recarray=False, compact_ints=False, use_unsigned=False, low_memory=True, buffer_lines=None, memory_map=False, float_precision=None)
    Read CSV (comma-separated) file into DataFrame

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the `online docs for IO Tools
    <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, pathlib.Path, py._path.local.LocalPath or any object with a read() method (such as a file handle or StringIO)
        The string could be a URL. Valid URL schemes include http, ftp, s3, and
        file. For file URLs, a host is expected. For instance, a local file could
        be file ://localhost/path/to/table.csv
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used automatically. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``
    delimiter : str, default ``None``
        Alternative argument name for sep.
    delim_whitespace : boolean, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    header : int or list of ints, default 'infer'
        Row number(s) to use as the column names, and the start of the data.
        Default behavior is as if set to 0 if no ``names`` passed, otherwise
        ``None``. Explicitly pass ``header=0`` to be able to replace existing
        names. The header can be a list of integers that specify row locations for
        a multi-index on the columns e.g. [0,1,3]. Intervening rows that are not
        specified will be skipped (e.g. 2 in this example is skipped). Note that
        this parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so header=0 denotes the first line of data
        rather than the first line of the file.
    names : array-like, default None
        List of column names to use. If file contains no header row, then you
        should explicitly pass header=None. Duplicates in this list are not
        allowed unless mangle_dupe_cols=True, which is the default.
    index_col : int or sequence or False, default None
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider index_col=False to force pandas to _not_
        use the first column as the index (row names)
    usecols : array-like or callable, default None
        Return a subset of the columns. If array-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid array-like
        `usecols` parameter would be [0, 1, 2] or ['foo', 'bar', 'baz'].

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    as_recarray : boolean, default False
        DEPRECATED: this argument will be removed in a future version. Please call
        `pd.read_csv(...).to_records()` instead.

        Return a NumPy recarray instead of a DataFrame after parsing the data.
        If set to True, this option takes precedence over the `squeeze` parameter.
        In addition, as row indices are not available in such a format, the
        `index_col` parameter will be ignored.
    squeeze : boolean, default False
        If the parsed data only contains one column then return a Series
    prefix : str, default None
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : boolean, default True
        Duplicate columns will be specified as 'X.0'...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `str` or `object` to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels
    true_values : list, default None
        Values to consider as True
    false_values : list, default None
        Values to consider as False
    skipinitialspace : boolean, default False
        Skip spaces after delimiter.
    skiprows : list-like or integer or callable, default None
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c')
    skip_footer : int, default 0
        DEPRECATED: use the `skipfooter` parameter instead, as they are identical
    nrows : int, default None
        Number of rows of file to read. Useful for reading pieces of large files
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'nan'`.
    keep_default_na : bool, default True
        If na_values are specified and keep_default_na is False the default NaN
        values are overridden, otherwise they're appended to.
    na_filter : boolean, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file
    verbose : boolean, default False
        Indicate number of NA values placed in non-numeric columns
    skip_blank_lines : boolean, default True
        If True, skip over blank lines rather than interpreting as NaN values
    parse_dates : boolean or list of ints or names or list of lists or dict, default False

        * boolean. If True -> try parsing the index.
        * list of ints or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call result
          'foo'

        If a column or index contains an unparseable date, the entire column or
        index will be returned unaltered as an object data type. For non-standard
        datetime parsing, use ``pd.to_datetime`` after ``pd.read_csv``

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : boolean, default False
        If True and parse_dates is enabled, pandas will attempt to infer the format
        of the datetime strings in the columns, and if it can be inferred, switch
        to a faster method of parsing them. In some cases this can increase the
        parsing speed by 5-10x.
    keep_date_col : boolean, default False
        If True and parse_dates specifies combining multiple columns then
        keep the original columns.
    date_parser : function, default None
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call date_parser in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by parse_dates) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by parse_dates into a single array
        and pass that; and 3) call date_parser once for each row using one or more
        strings (corresponding to the columns defined by parse_dates) as arguments.
    dayfirst : boolean, default False
        DD/MM format dates, international and European format
    iterator : boolean, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, default None
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer', then use gzip,
        bz2, zip or xz if filepath_or_buffer is a string ending in '.gz', '.bz2',
        '.zip', or 'xz', respectively, and no decompression otherwise. If using
        'zip', the ZIP file must contain only one data file to be read in.
        Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, default None
        Thousands separator
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    float_precision : string, default None
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.
    lineterminator : str (length 1), default None
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : boolean, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), default None
        One-character string used to escape delimiter when quoting is QUOTE_NONE.
    comment : str, default None
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if comment='#', parsing '#empty\na,b,c\n1,2,3'
        with `header=0` will result in 'a,b,c' being
        treated as the header.
    encoding : str, default None
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_
    dialect : str or csv.Dialect instance, default None
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : boolean, default False
        Leave a list of tuples on columns as is (default is to convert to
        a Multi Index on the columns)
    error_bad_lines : boolean, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : boolean, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    low_memory : boolean, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser)
    buffer_lines : int, default None
        DEPRECATED: this argument will be removed in a future version because its
        value is not respected by the parser
    compact_ints : boolean, default False
        DEPRECATED: this argument will be removed in a future version

        If compact_ints is True, then for any column that is of integer dtype,
        the parser will attempt to cast it as the smallest integer dtype possible,
        either signed or unsigned depending on the specification from the
        `use_unsigned` parameter.
    use_unsigned : boolean, default False
        DEPRECATED: this argument will be removed in a future version

        If integer columns are being compacted (i.e. `compact_ints=True`), specify
        whether the column should be compacted to the smallest signed or unsigned
        integer dtype.
    memory_map : boolean, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.

    Returns
    -------
    result : DataFrame or TextParser

In [106]:
df=DataFrame([
        ['Tom',np.NaN,456.67,'M'],['Merry',34,456.67,np.NaN],
        ['Gerry',np.NaN,np.NaN,np.NaN],['John',23,np.NaN,'M'],
        ['Joe',18,2300,'F']],columns=['name','age','salary','Gender']
    )

In [107]:
df

    name   age   salary Gender
0    Tom   NaN   456.67      M
1  Merry  34.0   456.67    NaN
2  Gerry   NaN      NaN    NaN
3   John  23.0      NaN      M
4    Joe  18.0  2300.00      F

In [108]:
df.isnull()

    name    age  salary  Gender
0  False   True   False   False
1  False  False   False    True
2  False   True    True    True
3  False  False    True   False
4  False  False   False   False

In [109]:
df.notnull()

   name    age  salary  Gender
0  True  False    True    True
1  True   True    True   False
2  True  False   False   False
3  True   True   False    True
4  True   True    True    True

In [110]:
df.dropna()   #dropna删除整行包含nan值的行数据

  name   age  salary Gender
4  Joe  18.0  2300.0      F

In [111]:
df.dropna(how='all')   #丢弃全部为NaN值的行数据

    name   age   salary Gender
0    Tom   NaN   456.67      M
1  Merry  34.0   456.67    NaN
2  Gerry   NaN      NaN    NaN
3   John  23.0      NaN      M
4    Joe  18.0  2300.00      F

In [113]:
df.dropna(axis=1)   #通过指定轴的形式丢弃列

    name
0    Tom
1  Merry
2  Gerry
3   John
4    Joe

In [105]:
df

    name   age   salary Gender
0    Tom   NaN   456.67      M
1  Merry  34.0   456.67    NaN
2    NaN   NaN      NaN    NaN
3   John  23.0      NaN      M
4    Joe  18.0  2300.00      F